<!DOCTYPE html>
<html lang="en">
<meta property="og:title" content="Mayball Information"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.mayball.info" />
<meta property="og:description" content="A list of all of the mayballs in 2025" />
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
<meta name="theme-color" content="#00FFFF">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambridge May Balls 2025</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
	<link rel="manifest" href="/manifest.json">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8664079953509408"
            crossorigin="anonymous">
    </script>
    <script src="htmx.min.js"></script>
</head>
<body>
	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js').then(registration => {
					console.log('ServiceWorker registration successful with scope: ', registration.scope);
				}, err => {
					console.log('ServiceWorker registration failed: ', err);
				});
			});
		}
	</script>
    <header>
        <div class="container">
            <h1>Cambridge May Balls 2025</h1>
            <p>Navigate Cambridge's may week with greater ease!</p>
			<p><a href="previous-years/2024.html">Check out last year's may balls!</a></p>
        </div>
    </header>
    <main>
		<div class="container">
			<h2>The Spring Balls</h2>
			<section id="featured-balls">
                {{#each springballs}}
                    {{> ball_item}}
                {{/each}}
			</section>
		</div>
        <div class="container">
			<h2>2025 May Balls</h2>
            <section id="featured-balls">
                {{#each mayballs}}
                    {{> ball_item}}
                {{/each}}
            </section>
        </div>
		<div class="container">
			<h2>The Winter Balls (2024, not updated for 2025 yet)</h2>
			<section id="featured-balls">
                {{#each winterballs}}
                    {{> ball_item}}
                {{/each}}
			</section>
		</div>
    </main>
    <footer>
        <div class="container">
            <p>Are you a ball committee member? Contact me at admin (at) mayball.info with the latest details!</p>
			<p>Alternatively, make a pull request on <a href="https://github.com/Xemorr/MayBallInfo">github</a></p>
            <p>Balls that provide me with more information appear higher on this website. This site receives about 100 views per day, you are missing out by not updating it!</p>
        </div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8664079953509408"
                crossorigin="anonymous"></script>
        <!-- Bottom of page advert -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8664079953509408"
             data-ad-slot="9764938284"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </footer>
</body>
</html>
